* {
    /* box-sizing: border-box;
    border: 1px solid; */
   font-family:Arial;
   margin:0;
   padding:0;
   text-align:right;
   direction:rtl;
  }

  header {
    background-color: grey;
    
    
  }

.z {
    width:900px;
    height:100px;
    //margin:auto;
    text-align: center;
    //background-color: grey;
}

.logo-container {
    float:right;
    position:relative;
    top:25px;
    //background-color: limegreen;
    width:150px;
    height:100px;
  
}

.header-left-container::after {
    content: "";
    display: table;
    clear: both;
}

.header-left-container {
    width:750px;
    height:100px;
}

.header-search-row {
    //background-color: green;
    width:100%;
    height:50%;
}

.header-menu-container {
    width:100%;
    height:50%;
    //background-color: orange;
    //text-align:right;
    //direction:rtl;
}

li {
    display:inline;
    background-color:pink;
}







  footer {
    height:50px;
}

  .main{
width:900px;
margin:auto;
height:800px;
//background-color: yellow;
  }

  .column {
    float: right;
    //background-color: red;
    /* margin:10px; */
    //margin:auto;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  .width-250 {
    width: 291px;
    height: 354px;
  }

  .width-111 {
    width: 291px;
    height: 215px;  
  }

  .row {
      marging-top-20px;

  }


  .yyy1 {
      border-radius: 0 0 30px 0;
      margin-left:6.75px;
      margin-top:15px;
      position:relative;
  }

  .yyy2 {
    border-radius: 0 0 30px 0;
    margin:6.75px;
    margin-top:15px;
}

.yyy3 {
    border-radius: 0 0 30px 0;
    margin-right:6.75px;
    margin-top:15px;
}

.grey-bg-container {
    background-color: grey;
    position: absolute;
    top:250px;
    font-size:13px;
    color:#FFF;
    margin-right:5px;
    margin-left:20px;
    
}
  .zzz {
    border-radius: 0 0 30px 0;

}


.hhh {
    text-align: left;
    //direction:ltr;
color:#FFF;
float:left;
padding-left:5px;
display:inline-block;
}

h4 {
    margin-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}

 .sss {
    color:grey;
    float:left;
} 


.aaa1 {
    border-radius: 0 30px 0 0;
    margin-left:6.75px;
    //margin-top:15px;
    position:relative;
    background-color:lightgrey;
    font-size: 13px;
    color: grey;
}

.ggg {
    padding-top:15px;
    padding-bottom:15px;
    //border:10px solid black;
    //border-bottom:black;
    margin-right:20.5px;
    //text-decoration: underline;
}

.line {

    border-bottom:1px solid grey;

  width:240px;
  margin-right:20.5px;
  margin-bottom:15px;
}

.jjj {
    //width:250px;
    margin:auto;
    display:block;
    margin-top:5px;
    margin-bottom:10px;
}

.ttt {
    margin-right:10px;
    margin-left:10px;
}
  .r1 {
    height: 390px;
      //background-color: blue;
  }

  .r2 {
    height: 250px;
    //background-color: pink;
}


.bbb {
    width:900px;
    height:100%;
margin:auto;
    text-align: center;
}

.marging-left-right-5px {
    margin-left:5px;
    margin-right:5px;
    float:left;
}
