* {
   font-family:Arial;
   margin:0;
   padding:0;
   text-align:right;
   direction:rtl;
}

header{
    //background-color:linear-gradient(red, yellow);
    //background:linear-gradient(rgb(144,144,144),rgb(190, 190, 190));
    //ackground:linear-gradient(green,blue);
    //background-color: rgb(144,144,144);


   // background:linear-gradient(grey,green);
    background-image: linear-gradient(to bottom, rgb(144,144,144),rgb(190, 190, 190) 85%);

}







footer {
    //background-color: grey;
    background-image: linear-gradient(to top, rgb(144,144,144),rgb(190, 190, 190) 85%);

}

.header-container {
    width:900px;
    height:100px;
    margin:auto;
    text-align: center;
}

.logo-container {
    float:right;
    position:relative;
    top:25px;
    width:150px;
    height:100px;
}

.header-left-container::after {
    content: "";
    display: table;
    clear: both;
}

.header-left-container {
    width:750px;
    height:100px;
    float:left;
}

.header-search-row {
    width:100%;
    height:50%;
    margin-top:15px;
}

form{
    float: left;
}

label{
    padding-left: 10px;
    color: white;
    font-size: 13px;
}

input {
    border-radius: 0 10px 0 0;
}

::placeholder {
    color: black;
    padding-right:2px;
}

.header-search-row > a > img {
    float:left;
}

.header-menu-container {
    width:100%;
    height:50%;
}


.header-menu-container > div > ul > li {
    display:inline;
    //width:10px;
    border-left:1px solid white;
    list-style:none;
    padding-left:11px;
    padding-right:11px;
} 

.header-menu-container > div > ul > li:first-child {
    padding-right:20px;
} 


.header-menu-container >div > ul > li > a {
    text-decoration:none;
    color:white;
    font-weight: bold;
}

.header-menu-container >div > ul > li > a:hover { 
    text-decoration:underline;
    color:blue;
}


.main{
    width:900px;
    margin:auto;
    height:700px;
}






.top-row-container {
    height: 390px;
}

.top-row-container::after {
    content: "";
    display: table;
    clear: both;
}

.top-row-right-box {
    width: 291px;
    height: 354px;
    float: right;
    border-radius: 0 0 30px 0;
    margin-left:6.75px;
    margin-top:15px;
    position:relative;
}

.top-row-center-box {
    width: 291px;
    height: 354px;
    float: right;
    border-radius: 0 0 30px 0;
    margin:6.75px;
    margin-top:15px;
    position:relative;
}

.top-row-left-box {
    width: 291px;
    height: 354px;
    float: right;
    border-radius: 0 0 30px 0;
    margin-right:6.75px;
    margin-top:15px;
    position:relative;
}

.grey-bg-container {
    background-color: grey;
    position: absolute;
    height:100px;
    top:250px;
    font-size:13px;
    color:white;
    margin-right:5px;
    margin-left:20px;
}

.top-row-radius{
    border-radius: 0 0 30px 0;
}

.top-anchor {
    text-align: left;
    color:white;
    float:left;
    padding-left:5px;
    display:inline-block;
}

.top-h4 {
    margin-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.top-p {
    margin-right:10px;
    margin-left:10px;
}




.bottom-row-container {
    height: 250px;
}

.bottom-row-right-box {
    width: 291px;
    height: 215px;  
    float: right;
    border-radius: 0 30px 0 0;
    margin-left:6.75px;
    position:relative;
    background-color:lightgrey;
    font-size: 13px;
    color: grey;
}

.bottom-row-center-box {
    width: 291px;
    height: 215px;  
    float: right;
    border-radius: 0 30px 0 0;
    margin-left:6.75px;
    position:relative;
    background-color:lightgrey;
    font-size: 13px;
    color: grey;
}

.bottom-row-container::after {
    content: "";
    display: table;
    clear: both;
 }

.bottom-row-left-box {
    width: 291px;
    height: 215px;  
    float: right;
    border-radius: 0 30px 0 0;
    margin-left:6.75px;
    position:relative;
    background-color:lightgrey;
    font-size: 13px;
    color: grey;
}

.bottom-h4 {
    padding-top:15px;
    padding-bottom:15px;
    margin-right:20.5px;
}

.line {
    border-bottom:1px solid grey;
    width:240px;
    margin-right:20.5px;
    margin-bottom:15px;
}

.bottom-img {
    margin:auto;
    display:block;
    margin-top:5px;
    margin-bottom:10px;
}

.bottom-img-left {
    display:inline-block;
    float:left;
}

.bottom-row-left-menu {
    display:inline-block;
    float:right;
}

.bottom-anchor {
    color:grey;
    float:left;
} 

.triangle-image {
    margin-left:5px;
    margin-right:5px;
    float:left;
    padding-top:4px;
}








.bottom-row-left-container {
    position:relative;
 }  


.bottom-row-left-box> .line {
    margin-bottom:0;
}

 .bottom-row-left-container > div > ul > li {
    display: block;
} 

.bottom-row-left-container > div > ul {

    position: absolute;
    top:15px;
    right:20.5px;
} 

.bottom-row-left-img-container { 
    position: absolute;
    top:0; 
    left:30px;

} 













.footer-container {
    width:900px;
    height:50px;
    margin:auto;
    text-align: center;
    /* display:inline-block; */
}


.footer-menu-container {
    display:inline-block;
    float:right;
    padding-top:25px;
    
}

.footer-img-container {
    display:inline-block;
    float:left;
    padding-top:27px;
}



.footer-menu-container > ul > li, .bottom-row-left-container > ul > li {
    display:inline;
} 


.footer-menu-container > ul > li > a {
    color:white;
    border-right: 1px solid white;
    padding-right:5px;
    text-decoration: none;
}

.footer-menu-container > ul > li > a:hover { 
text-decoration:underline;
color:blue;
}


.bottom-row-left-container > div > ul > li > a:hover { 
text-decoration:underline;
color:blue;
}



.header-search-row > form > label > a {
    text-decoration:none;
    color:white;
}

.header-search-row > form > label > a:hover {
    text-decoration:underline;
    color:blue;
}

 .top-anchor:hover {
    text-decoration:underline;
color:blue;
}

.top-row-left-box > div > a {
    position:relative;
    top:15px;
}

.top-row-center-box > div > a {
    position:relative;
    top:15px;
}



.bottom-anchor:hover {
    text-decoration:underline;
color:blue;
}





/* ZEVEL */




/* .bottom-row-container > div > div > a:hover {
    text-decoration:underline;
color:blue;
} */





/* .top-row-container > div > div > a:hover {
    text-decoration:underline;
color:blue;
} */


/* 
.a {
    width:100%;
}
.b {
    width:100%; 
} */

/* header-menu-container li {
    float: right;
    width:12%;
} */

/* bottom-row-left-container li{
    display:inline;
}

footer-menu-container  > ul > li {
    display:inline;
    color:red;

} */

 /* li {
    display:inline;
}  */

/* 
 .header-menu-container > div > ul > li { */




    

/* 
.header-menu-container > div > ul > li:nth-child(2) {
    background-color:red;
    color:pink;
}  

.header-menu-container > div > ul > li:nth-child(3) {
    background-color:red;
    color:pink;
}  
.header-menu-container > div > ul > li:nth-child(4) {
    background-color:red;
    color:pink;
    width:20%;
}  
.header-menu-container > div > ul > li:nth-child(5) {
    background-color:red;
    color:pink;
    width:20%;
}  
.header-menu-container > div > ul > li:nth-child(6) {
    background-color:red;
    color:pink;
    width:15%;
}  
.header-menu-container > div > ul > li:nth-child(7) {
    background-color:red;
    color:pink;
}  
.header-menu-container > div > ul > li:nth-child(8) {
    background-color:red;
    color:pink;
    width:15%;
}   */