* {
    /* box-sizing: border-box;
    border: 1px solid; */
   font-family:Arial;
   margin:0;
   padding:0;
   text-align:right;
   direction:rtl;
  }

header {
    background-color: grey;
 }

.header-container {
    width:900px;
    height:100px;
    margin:auto;
    text-align: center;
    //background-color: blue;
}

.logo-container {
    float:right;
    position:relative;
    top:25px;
    //background-color: limegreen;
    width:150px;
    height:100px;
  
}

.header-left-container::after {
    content: "";
    display: table;
    clear: both;
}

.header-left-container {
    width:750px;
    height:100px;
 
}

.header-search-row {
    //background-color: green;
    width:100%;
    height:50%;
}

.header-menu-container {
    width:100%;
    height:50%;
    //background-color: orange;
    //text-align:right;
    //direction:rtl;
}
/* 
.a {
    width:100%;
}
.b {
    width:100%; 
} */

/* header-menu-container li {
    float: right;
    width:12%;
} */

/* bottom-row-left-container li{
    display:inline;
}

footer-menu-container  > ul > li {
    display:inline;
    color:red;

} */

li {
    display:inline;
}



.main{
    width:900px;
    margin:auto;
    height:700px;
}

.top-row-container {
    height: 390px;
}

.bottom-row-container {
    height: 250px;
}

.top-row-container::after {
    content: "";
    display: table;
    clear: both;
}

.bottom-row-container::after {
    content: "";
    display: table;
    clear: both;
 }


.top-row-right-box {
    width: 291px;
    height: 354px;
    float: right;
    border-radius: 0 0 30px 0;
    margin-left:6.75px;
    margin-top:15px;
    position:relative;
}

.top-row-center-box {
    width: 291px;
    height: 354px;
    float: right;
    border-radius: 0 0 30px 0;
    margin:6.75px;
    margin-top:15px;
    position:relative;
}

.top-row-left-box {
    width: 291px;
    height: 354px;
    float: right;
    border-radius: 0 0 30px 0;
    margin-right:6.75px;
    margin-top:15px;
    position:relative;
}

.grey-bg-container {
    background-color: grey;
    position: absolute;
    top:250px;
    font-size:13px;
    color:white;
    margin-right:5px;
    margin-left:20px;
    
}
  .top-row-radius{
    border-radius: 0 0 30px 0;
}

.top-anchor {
    text-align: left;
    color:white;
    float:left;
    padding-left:5px;
    display:inline-block;
}

.top-h4 {
    margin-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}


.bottom-row-right-box {
    width: 291px;
    height: 215px;  
    float: right;
    border-radius: 0 30px 0 0;
    margin-left:6.75px;
    position:relative;
    background-color:lightgrey;
    font-size: 13px;
    color: grey;
}

.bottom-row-center-box {
    width: 291px;
    height: 215px;  
    float: right;
    border-radius: 0 30px 0 0;
    margin-left:6.75px;
    position:relative;
    background-color:lightgrey;
    font-size: 13px;
    color: grey;
}


.bottom-row-left-box {
    width: 291px;
    height: 215px;  
    float: right;
    border-radius: 0 30px 0 0;
    margin-left:6.75px;
    position:relative;
    background-color:lightgrey;
    font-size: 13px;
    color: grey;
}

.bottom-h4 {
    padding-top:15px;
    padding-bottom:15px;
    margin-right:20.5px;
}

.line {
    border-bottom:1px solid grey;
    width:240px;
    margin-right:20.5px;
    margin-bottom:15px;
}

.bottom-img {
    margin:auto;
    display:block;
    margin-top:5px;
    margin-bottom:10px;
}

.bottom-img-left {
    //margin:auto;
    display:inline-block;
    float:left;
    //margin-top:5px;
    //margin-bottom:10px;
}

.bottom-row-left-menu {
    display:inline-block;
    float:right;
}

.top-p {
    margin-right:10px;
    margin-left:10px;
}

.bottom-anchor {
    color:grey;
    float:left;


} 

.triangle-image {
    margin-left:5px;
    margin-right:5px;
    float:left;
    padding-top:4px;
}



.bottom-img-left {
    //margin:auto;
    display:inline-block;
    float:left;
    //margin-top:5px;
    //margin-bottom:10px;
}

.bottom-row-left-container {
    position:relative;
 }  


.bottom-row-left-box> .line {
    margin-bottom:0;
}

 .bottom-row-left-container > div > ul > li {
    display: block;
    /* text-align:right;
    direction:rtl; */
} 

.bottom-row-left-container > div > ul {

    position: absolute;
    top:15px;
    right:20.5px;
} 

.bottom-row-left-img-container { 
    /* .bottom-row-left-container:nth-child(2){  */
    /* .bottom-row-left-container:last-child{ */
    position: absolute;
    top:0; 
    left:30px;

} 



footer {
    background-color: grey;
}

.footer-container {
    width:900px;
    height:50px;
    margin:auto;
    text-align: center;
    /* display:inline-block; */
}


.footer-menu-container {
    display:inline-block;
    float:right;
    
}

.footer-img-container {
    display:inline-block;
    float:left;
}

.footer-menu-container > ul > li > a {
    color:white;
    border-right: 1px solid white;
    padding-right:5px;
}